<form method="post" action="/translate">
	<div>
	  <label for="text">Input:</label>
	  <input type="text" id="name" name="input" />
	</div>

	<div>
	  <input type="submit" value="Submit">
	</div>
	</form>
